:root {
  --top-menu-height: 3em;
  --side-menu-width: 8em;
  --menu-control-width: 0.6em;
  --transition-timeout: 0.5s;
}

body {
    padding: 0;
    margin: 0;
    font-size: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 640px) {
  body {
    font-size: 3vw;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2vw;
  }
}

img {
    width: 100%;
}

.top-menu {
    position: fixed;
    background-color: red;
    top: 0;
    height: calc(var(--top-menu-height) + var(--menu-control-width));
    width: 100%;
    justify-items: center;
    display: flex;
    flex-direction: column;
    transition: top var(--transition-timeout);
}

.top-menu-field {
    flex: 1; 
    justify-content: center; 
    display: flex;
}

.top-menu-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: chartreuse;
}

.menu-icon {
    background-color: lightsalmon;
    aspect-ratio: 1;
    padding: 0.05em;
}

.menu-icon-image {
    max-width: 100%;
    max-height: 100%;
}

.side-menu {
    position:fixed;
    top: calc(var(--top-menu-height) + var(--menu-control-width));
    left: 0;
    height: 100%;
    width: calc(var(--side-menu-width) + var(--menu-control-width));
    background-color: orange;
    transition: left var(--transition-timeout), top var(--transition-timeout);
    display: flex;
}

.side-menu-buttons {
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
}

.side-menu-content {
    flex-grow: 1;
    background-color: lightblue;
    width: 0.1em;
}

.side-menu-control {
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
    height: 100%;
    width: var(--menu-control-width);
}

.top-menu-content {
    flex-grow: 1;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    height: var(--top-menu-height);
}

.top-menu-control {
    display: flex;
    justify-content: end;
    background-color: lightyellow;
    height: var(--menu-control-width);
    width: 100%;
}

.button:hover {
    background-color: lightgray;
}

.menu-button {
    flex: 1;
    user-select: none;
    margin: 0.1em .1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}

.menu-control {
    transition: transform var(--transition-timeout);
    height: var(--menu-control-width);
    width: var(--menu-control-width);
}

.menu-glyph {
    fill:none;
    stroke:gray;
    stroke-width:3;
}

.top-menu-text {
    background-color: rgba(255, 192, 203, 0.7);
    text-align: center;
}

.side-menu-text {
    background-color: rgba(160, 255, 203, 0.7);
}

.main {
    margin-top: calc(var(--top-menu-height) + var(--menu-control-width));
    margin-bottom: 0;
    margin-left: calc(var(--side-menu-width) + var(--menu-control-width));
    margin-right: 0;
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    transition: margin var(--transition-timeout), min-height var(--transition-timeout);
    min-height: calc(100vh - var(--top-menu-height) - var(--menu-control-width));
}

.content {
    padding: 1em;
    flex-grow: 1;
}

.footer {
    background-color: aqua;
}

.flip-horizontal {
    transform: scaleX(-1);
}

.expand-horizontal {
    margin-left: var(--menu-control-width);
}

.hide-horizontal {
    left: calc(-1*var(--side-menu-width));
}

.flip-vertical {
    transform: scaleY(-1);
}

.expand-vertical {
    margin-top: var(--menu-control-width);
    min-height: calc(100vh );
}

.hide-vertical {
    top: calc(-1*var(--top-menu-height));
}

.extend-vertical {
    top: var(--menu-control-width);
}